<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>优佳明训练平台</title>
    <link rel="stylesheet" href="/src/assets/style.css">
</head>

<body>
<div class="box">
    <div class="content">
        <div class="login-wrapper">
            <div class="login-form">
                <h1>下载训练平台</h1>
                <div class="input-item">
                    <div class="input-item">
                        <img src="/src/assets/win.png" alt="windows7/10">
                    </div>
                </div>
                <div class="input-item">Windows 7/10</div>
                <button  class="login-btn" onclick='location.href=("/download")'>
                    <span>立即下载</span>
                </button>
                <button  class="login-btn" onclick='location.href=("/hello")'>
                    <span>开始训练</span>
                </button>
            </div>
            <div class="divider">
                <span class="line"></span>
                <span class="divider-text">问题咨询</span>
                <span class="line"></span>
            </div>
            <div class="other-login-wrapper">
                <div class="other-login-item">
                    <img src="/src/assets/QQ.png" title="2097871434">
                </div>
                <div class="other-login-item">
                    <img src="/src/assets/WeChat.png" title="暂无">
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>